/*Media queries*/
@media (max-width: 767px) {
  #perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ajustes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #armas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #buscar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  #perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #ajustes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #armas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #buscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  #modos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  #modos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
/*Header y footer*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/imagenes/header2.png);
  background-position: center;
  background-size: cover;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgFooter {
  height: 15px;
  margin-right: 5px;
}

/*Enlaces*/
.navbar a {
  text-decoration: none;
  color: #ffcb5e;
  background-color: #01444c;
  font-size: 1.2rem;
  transition: color 2s, background-color 2s;
  border-radius: 5px;
  padding: 2px;
}

a {
  text-decoration: none;
  color: #ffcb5e;
  background-color: #01444c;
  font-size: 1.2rem;
  transition: color 2s, background-color 2s;
  border-radius: 5px;
  padding: 2px;
}

.navbar a:hover {
  color: #e46a45;
  background-color: rgb(0, 0, 0);
}

a:hover {
  color: #e46a45;
  background-color: rgb(0, 0, 0);
}

footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffcb5e;
  background-color: #01444c;
  font-size: 1.2rem;
  transition: color 2s, background-color 2s;
  border-radius: 5px;
  padding: 2px;
  font-family: "Della Respira", serif;
}

body {
  background-color: #01444c;
}

/*Titulos*/
h1 {
  text-align: right;
  color: #0c1513;
  font-family: "Della Respira", serif;
}

h2 {
  font-family: "Turret Road", serif;
  text-decoration: underline;
  text-align: center;
  color: #e46a45;
}

h3 {
  font-family: "Turret Road", serif;
  text-decoration: solid;
  text-align: center;
  color: #ffcb5e;
}

p {
  font-family: "Della Respira", serif;
  text-align: center;
  color: #ffffaf;
  font-size: 1.2rem;
  margin-left: 5px;
}

li {
  font-family: "Della Respira", serif;
  color: #e46a45;
  font-size: 1.2rem;
}

li p {
  text-align: start;
}

/*IDs*/
#pCarrusel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoCod {
  border: 2px double #e46a45;
  padding: 10px;
  width: 100%;
}

#elJuego p {
  color: #e46a45;
}

#imgModos {
  height: 100vh;
}

#colorHambur {
  color: #ffcb5e;
  border: 2px solid #ffcb5e;
  padding: 5px;
  border-radius: 5px;
}

/*Clases*/
.imgFhd {
  width: 100%;
}

.imgMenuVert {
  height: 600px;
  margin: 5px;
}

.imgMenuHor {
  width: 75%;
}

.recuadro {
  border: 2px solid #ffcb5e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: baseline;
}

.boton {
  background-color: #01444c;
  font-family: "Della Respira", serif;
  color: #e46a45;
  border-radius: 5px;
  justify-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e46a45;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
