//Fuentes
$h1ycuerpo: "Della Respira", serif;
$subtitulos: "Turret Road", serif;
//Colores
$colores:(
    fondo: #01444c,
    tit1: #0c1513,
    tit2:  #e46a45,
    tit3: #ffcb5e,
    txtppl: #ffffaf,
    txtsec: #e46a45,
    link: #ffcb5e,
);
//Contenedores
@mixin flexrowspbetweencenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flexrowsparoundcenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@mixin flexrowcentercenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin flexcolumncentercenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin recuadro {
    border: 2px solid map-get($colores, link);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: baseline;
    height: 100%;
}
//Detalles
@mixin enlaces {
    text-decoration: none;
    color: map-get($colores, link);
    background-color: map-get($colores , fondo);
    font-size: 1.2rem;
    transition: color 2s, background-color 2s;
    border-radius: 5px;
    padding: 2px;
}
@mixin hoverenlaces {
    color: map-get($colores, tit2);
    background-color: map-get($colores, tit1);
}
@mixin boton {
    background-color: map-get($colores, fondo);
    font-family: $h1ycuerpo;
    color: map-get($colores, tit2);
    border-radius: 5px;
    justify-items: center;
}
@mixin sombra {
    box-shadow: 0px 5px 10px;
}