/*Header y footer*/
header {
    @include flexrowspbetweencenter;
}
nav ul {
    @include flexrowspbetweencenter;
}
nav ul li {
    list-style-type: none;
    margin: 5px;
}
footer {
    @include flexrowspbetweencenter;
}
.imgFooter {
    height: 15px;
    margin-right: 5px;
}
/*Enlaces*/
.navbar a {
    @include enlaces;
}
a {
    @include enlaces;
}
.navbar a:hover{
    @include hoverenlaces;
}
a:hover {
    @include hoverenlaces;
}
footer a {
    @include flexrowcentercenter;
    @include enlaces;
    font-family: $h1ycuerpo;
}
body {
    background-color: $colorfondo;
}
/*Titulos*/
h1 {
    text-align: right;
    color: red;
    font-family: $h1ycuerpo;
}
h2 {
    font-family: $subtitulos;
    text-decoration: underline;
    text-align: center;
    color: orangered;
}
h3 {
    font-family: $subtitulos;
    text-decoration: solid;
    text-align: center;
    color: lightsalmon;
}
p {
    font-family: $h1ycuerpo;
    text-align: center;
    color: aquamarine;
    font-size: 1.2rem;
    margin-left: 5px;
}
li {
    font-family: $h1ycuerpo;
    color: rgb(25, 150, 75);
    font-size: 1.2rem;
}
li p {
    text-align: start;
}
/*IDs*/
#pCarrusel {
    display: flex;
    justify-content: center;
}
#logoCod {
    border: 2px double rgb(51, 125, 87);
    padding: 10px;
    width: 100%;
    
}
#elJuego p {
    color: rgb(7, 162, 43);
}
#imgModos {
    height: 100vh;
}
/*Clases*/
.imgFhd {
    width: 100%;
}
.imgMenuVert {
    height: 600px;
    margin: 5px;
}
.imgMenuHor {
    width: 75%;
}
.resuJuego {
    border: 2px solid orange;
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: baseline;
}
.videoGal {
    border: 2px solid rgb(85, 52, 8);
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: baseline;
}