/*Header y footer*/
header {
    @include flexrowspbetweencenter;
}
nav ul {
    @include flexrowspbetweencenter;
}
nav ul li {
    list-style-type: none;
    margin: 5px;
}
footer {
    @include flexrowspbetweencenter;
}
.imgFooter {
    height: 15px;
    margin-right: 5px;
}
/*Enlaces*/
.navbar a {
    @include enlaces;
}
a {
    @include enlaces;
}
.navbar a:hover{
    @include hoverenlaces;
}
a:hover {
    @include hoverenlaces;
}
footer a {
    @include flexrowcentercenter;
    @include enlaces;
    font-family: $h1ycuerpo;
}
body {
    background-color: map-get($colores, fondo);
}
/*Titulos*/
h1 {
    text-align: right;
    color: map-get($colores , tit1);
    font-family: $h1ycuerpo;
}
h2 {
    font-family: $subtitulos;
    text-decoration: underline;
    text-align: center;
    color: map-get($colores, tit2);
}
h3 {
    font-family: $subtitulos;
    text-decoration: solid;
    text-align: center;
    color: map-get($colores, tit3);
}
p {
    font-family: $h1ycuerpo;
    text-align: center;
    color: map-get($colores, txtppl);
    font-size: 1.2rem;
    margin-left: 5px;
}
li {
    font-family: $h1ycuerpo;
    color: map-get($colores, txtsec);
    font-size: 1.2rem;
}
li p {
    text-align: start;
}
/*IDs*/
#pCarrusel {
    display: flex;
    justify-content: center;
}
#logoCod {
    border: 2px double map-get($colores, txtsec);
    padding: 10px;
    width: 100%;
    
}
#elJuego p {
    color: map-get($colores, txtsec);
}
#imgModos {
    height: 100vh;
}
/*Clases*/
.imgFhd {
    width: 100%;
}
.imgMenuVert {
    height: 600px;
    margin: 5px;
}
.imgMenuHor {
    width: 75%;
}
.recuadro {
    @include recuadro;
}
.boton {
    @include boton;
}